/*styling div main container*/
div#divmaincontainer{
  width:80%;
  maigin:0 auto;
  border:4px solid turquoise;/*thicker border*/
  padding-left:20px;
  padding-right:20px;
  border-radius:10px;
  text-align:center;
}

body{
  margin:0;
  padding:0;
}
